<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flab.todo.todo.TodoRepositoryImpl">

    <select id="findByUserId" resultType="Todo">
        select * from todo where user_id = #{id}
    </select>

    <insert id="save">
        insert into todo (user_id, things, is_done) values (#{userId}, #{things}, #{isDone})
    </insert>

    <update id="update">
        update todo SET user_id =#{userId}, things = #{things}, is_done = #{isDone} where id = #{id}
    </update>

    <delete id="delete" parameterType="String">
        delete FROM todo where id = #{todoId} where user_id = #{userId}
    </delete>
</mapper>